@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Lato', sans-serif; */

/* Global Rules */

body {
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
}

h3 {
    color: #54546d;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

header article,
.size {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    width: 85%;
}

main article div.size {
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.wrap-all-text {
    max-width: 80%;
}

p.main-text {
    padding: 20px 0;
}

p.small-text {
    color: #54546d;
    font-size: 12px;
    font-style: italic;
    padding: 5px 0;
}

/* Header */

header {
    background-color: #ffffff;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.25);
}

header article {
    align-items: center;
}

section.logo {
    flex: 0 1 40%;
}

section.nav {
    flex: 0 1 60%;
}

section.nav ul {
    display: flex;
    justify-content: space-between;
}

section.nav ul li:not(:last-child) a {
    color: #54546d;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

section.nav ul li:last-child a  {
    background-color: #9b5dc6;
    border-radius: 12px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 12px;
    text-transform: capitalize;
}

/* Main */

/* -----Section Diploma----- */

.img-right {
    margin-left: 20px;
}

main article.diploma section.wrap-image {
    position: relative;
}

.circle {
    background-color: #54546d;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 600px;
    left: -43px;
    position: absolute;
    width: 600px;
    z-index: -1;
    bottom: -10px;
}

.circle::after {
    content: "";
    background: url(../images/award.svg);
    width: 147px;
    height: 226px;
    display: inline-block;
    position: absolute;
    bottom: 93px;
    right: 105px;
}

/* -----Section Sertificates------ */

article.certificates,
article.certificates h3 {
    background-color: #14162b;
    color: #ffffff;
}

article.certificates img {
    top: 60px;
    position: relative;
}

.img-left {
    margin-right: 20px;
}
/* -----Section Career */

article.career-assistance button {
    background-color: #ffffff;
    border: 1px solid #9b5dc6;
    border-radius: 15px;
    color: #9b5dc6;
    font-weight: bold;
    padding: 5px 15px;
}

/* -----End of Main Section----- */

/* -----Section Footer----- */

footer {
    background-color: #2c2c3a;
    color: #ffffff;
}

footer div.size {
    justify-content: space-between;
    padding: 30px 0;
}

footer div.size h3 {
    color: #9b5dc6;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

footer ul li a {
    color: #ffffff;
    line-height: 1.5;
}

.wrap-icons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.fab {
    font-size: 25px;
}

.last-section-footer p {
    margin-bottom: 10px;
}