@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");

body {
    background: url("../Requirements-and-Resources/Media/background.jpg");
    max-width: 1920px;
    width: 100%;
}

.wrap-all-page {
    display: flex;
    flex-flow: column;
}

/* -----HEADER----- */

header {
    align-items: center;
    background-color: #e6e3de;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

header ul {
    display: flex;
}

header ul li {
    margin: 0 20px;
}

header ul li a {
    color: #554938;
}

.wrap-login-icon-serach button {
    background-color: #554938;
    border: none;
    color: #ffffff;
    margin-right: 10px;
    padding: 5px 10px;
}

.wrap-login-icon-serach i.fas {
    margin-left: 10px;
}

/* -----Section Carving----- */

section.carving {
    align-items: center;
    background: url("../Requirements-and-Resources/Media/craving.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 400px;
}

.wrap-search-field {
    position: relative;
}

.wrap-search-field::before {
    content: "\f002";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    left: 5px;
    padding-right: 3px;
    position: absolute;
    top: 5px;
}

section.carving h1 {
    color: #ffffff;
    font-size: 42px;
}

section.carving input {
    opacity: 0.4;
    padding: 3px 0 3px 20px;
    width: 330px;
}