@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");

body {
    background: url("../Requirements-and-Resources/Media/background.jpg");
    background-position: center;
    max-width: 1920px;
}

.wrap-all-page {
    display: flex;
    flex-flow: column;
}

/* -----Global Rules----- */

body,
.wrap-all-page,
header,
main,
footer,
section.carving {
    width: 100%;
}

header,
header ul,
section.carving,
section.toolbox,
.wrap-images-toolbox,
footer,
footer section ul {
    display: flex;
}

section.carving h1,
button.dark-brown {
    color: #ffffff;
}

button.dark-brown {
    background-color: #554938;
    border: none;
}

header,
.wrap-section-text,
.container-each-image,
footer {
    background-color: #e6e3de;
}

header ul li a,
header h2,
.wrap-heading-toolbox p,
footer a {
    color: #554938;
}

section.party,
section.cookies,
section.toolbox {
    display: flex;
    margin-bottom: 30px;
    max-width: 1200px;
    width: 80%;
}

img {
    display: block;
}

/* -----HEADER----- */

main {
    align-items: center;
    display: flex;
    flex-flow: column;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

header ul li {
    margin: 0 20px;
}

.wrap-login-icon-serach button.dark-brown {
    margin-right: 10px;
    padding: 5px 10px;
}

.wrap-login-icon-serach i.fas {
    margin-left: 10px;
}

/* -----Section Carving----- */

section.carving {
    align-items: center;
    background: url("../Requirements-and-Resources/Media/craving.jpg");
    background-size: cover;
    background-position: center;
    flex-flow: column;
    justify-content: center;
    height: 400px;
    margin-bottom: 50px;
}

.wrap-search-field {
    position: relative;
}

.wrap-search-field::before {
    content: "\f002";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    left: 5px;
    padding-right: 3px;
    position: absolute;
    top: 5px;
}

section.carving h1 {
    font-size: 42px;
}

section.carving input {
    opacity: 0.4;
    padding: 3px 0 3px 20px;
    width: 330px;
}

/* -----Section Party --- and --- Section Cookies----- */

section.party,
section.cookies {
    height: 400px;
}

.wrap-section-image {
    flex: 0 1 60%;
    height: 100%;
}

.wrap-section-image img {
    height: 100%;
    width: 100%;
}

.wrap-section-text {
    align-items: center;
    display: flex;
    flex-flow: column;
    flex: 0 1 40%;
    justify-content: center;
    padding: 30px;
    position: relative;
    text-align: center;
}

.wrap-section-text h2 {
    font-size: 30px;
}

.wrap-section-text p {
    font-size: 26px;
    margin-top: 0;
}

section.party button.dark-brown {
    bottom: 110px;
    margin-right: 10px;
    padding: 7px 15px;
    position: absolute;
}

/* ----- Section Toolbox----- */

section.toolbox {
    align-items: center;
    flex-flow: column;
}

.wrap-heading-toolbox,
.wrap-shop-btn {
    display: flex;
    justify-content: center;
    width: 300px;
}

.wrap-heading-toolbox {
    background-color: #e6e3de;
    margin-bottom: 10px;
    opacity: 0.7;
}

.wrap-heading-toolbox span {
    font-size: 26px;
    padding: 5px 10px;
}

.wrap-images-toolbox {
    justify-content: space-evenly;
}

.container-each-image {
    flex: 0 1 250px;
}

.container-each-image img {
    width: 100%;
}

.container-each-image p {
    font-style: italic;
    text-align: center;
}

.wrap-shop-btn {
    background-color: #db4e35;
    display: flex;
    justify-content: center;
    margin-top: 45px;
    padding: 10px 0;
}

.red-shop-btn {
    background-color: inherit;
    border: none;
}

.red-shop-btn a {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

/* -----Footer----- */

footer {
    justify-content: center;
}

footer section {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 30px 0;
    width: 80%;
}

footer ul:not(:last-child) li:not(:first-child) {
    padding: 0 10px;
}

footer ul:not(:last-child) li:first-child {
    padding-right: 10px;
}

footer ul:last-child li:not(:last-child) {
    padding: 0 10px;
}

footer ul:last-child li:last-child {
    padding-left: 10px;
}

footer ul li:not(:last-child) {
    border-right: 1px solid #554938;
}