@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Lato', sans-serif; */

html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    align-items: center;
    background-color: #306085;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

article.wrap-all-page {
    max-width: 1200px;
}

article.wrap-all-page,
section.wrap-all-text,
section.wrap-documents {
    display: flex;
}

section.wrap-all-text {
    flex-flow: column;
    justify-content: space-between;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

.italic {
    color: rgb(235, 231, 231);
    font-size: 14px;
    font-style: italic;
}

section.wrap-documents {
    margin: 10px 0;
}