@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    align-items: center;
    background-color: #306085;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

article.wrap-all-page {
    max-width: 1200px;
}

article.wrap-all-page,
section.wrap-all-text,
section.wrap-documents {
    display: flex;
}

.pseudo-element::before {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: -1;
}

section.wrap-all-text {
    flex-flow: column;
    justify-content: space-between;
    width: 60%;
}

section.wrap-documents {
    width: 40%;
}

.italic {
    color: rgb(235, 231, 231);
    font-size: 14px;
    font-style: italic;
}

.italic::before {
    background: url("../Requirements-and-Resources/images/dots.svg");
    height: 142px;
    left: 0;
    width: 72px;
}

section.wrap-documents {
    justify-content: space-between;
    margin: 10px 0;
}

.certificate-wrapper,
.diploma-wrapper {
    position: relative;
    width: 45%;
}

.certificate-wrapper::before {
    background: url(../Requirements-and-Resources/images/dots.svg);
    height: 115px;
    right: -40px;
    top: -40px;
    width: 115px;
}

.diploma-wrapper::before {
    background: url(../Requirements-and-Resources/images/arrow.svg);
    height: 400px;
    left: -12px;
    top: -28px;
    width: 303px;
}