@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.icons {
    list-style: none;
}

.fa-linkedin {
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 2px;
    border-radius: 3px;
}