html {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.wrapper {
    padding: 30px 15px 20px 15px;
}

article {
    background-color: rgb(51, 102, 153);
    border-radius: 1rem;
    margin: 70px 50px;
}

h1 {
    font-family: Georgia, serif;
}